@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.comal_btn{

    background: transparent;
    color: #000;
    border: 1px solid black;
}
.active-menu-item {
    background-color: #e3f2fd; /* Light blue background */
    border-radius: 5px;
    padding: 10px;
  }
  .css-ha8abz-MuiListItem-root > a {
    background-color: transparent !important;
  }
  .inactive-menu-item {
    background-color: transparent;
    padding: 10px;
  }
  
  .active-menu-item:hover,
  .inactive-menu-item:hover {
    background-color: #bbdefb; /* Slightly darker blue on hover */
  }