.swal-wide {
  width: 100% !important;
  width: 1080px !important;
}
.swal2-popup.swal2-modal.swal-wide.swal2-show {
  width: 1080px;
}
#swal-rule-container {
  grid-column: 2;
  grid-row: 2;
  place-self: center center;
  WIDTH: 1080PX;
}